.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar .logo {
  width: 150px;
  cursor: pointer;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--text);
}
.nav-menu li {
  font-size: 18px;
  list-style: none;
  cursor: pointer;
  text-transform: lowercase;
  padding: 2px 0;
  border-bottom: solid 2px transparent;
  white-space: nowrap;
}
.nav-right-icons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-right-icons button {
  background: transparent;
  border: var(--link) 1px solid;
  border-radius: 40px;
  color: var(--link);
  font-size: 16px;
  padding: 0.7vw 2.3vw;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.nav-right-icons button:hover {
  background: var(--link);
  color: var(--secondary);
}
.navbar .active {
  border-bottom: 2px solid var(--link);
}
.search-icon {
  cursor: pointer;
  width: 2vw;
}
.basket-icon {
  width: 2vw;
}
.cart {
  position: relative;
  cursor: pointer;
}
.cart .dot {
  position: absolute;
  background: var(--link);
  min-height: 8px;
  min-width: 8px;
  border-radius: 50%;
  top: -6px;
  right: -6px;
}

@media (max-width: 1050px) {
  .navbar .logo{
    width: 140px;
  }
  .nav-menu{
    gap: 20px;
    font-size: 17px;
  }
  .nav-right-icons{
    gap: 30px;
  }
  .nav-right-icons img{
    width: 22px;
  }
  .nav-right-icons button{
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar .logo{
    width: 120px;
  }
  .nav-menu{
    gap: 15px;
    font-size: 16px;
  }
  .nav-right-icons{
    gap: 20px;
  }
  .nav-right-icons img{
    width: 20px;
  }
  .nav-right-icons button{
    padding: 7px 20px;
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .nav-menu{
    display: none;
  }
}